/* Muda cor do tema */
:root {
    --bs-dark-rgb: 10, 15, 20;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: rgb(var(--bs-dark-rgb));
}

body::before,
body::after {
    content: '';
    pointer-events: none;

    transition: 500ms ease-in-out;
}


/* Define imagem de fundo */
body::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(to bottom,  rgb(var(--bs-dark-rgb)), rgba(var(--bs-dark-rgb), 50%) 75%, rgb(var(--bs-dark-rgb))), url('./assets/background.png');
    background-blend-mode: normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    z-index: -1;
}


/* Brilho verde para enaltecer a chamada para o cadastro */
body::after {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50% 5rem;
    height: 5rem;
    width: 30rem;
    border-radius: 100%;
    box-shadow: 0 7.5rem 5rem 7.5rem rgba(127 255 212 / .25);
    transition: 250ms ease-in-out;
}

.scrolled-down::before,
.scrolled-down::after {
    transition: 500ms ease-in-out;
}

/* Escurece o fundo se rolar a página */
.scrolled-down::before {
    box-shadow: inset 0 -20rem 5rem 0 rgb(var(--bs-dark-rgb));

    overflow: hidden;
}

/* Remove brilho do fundo */
.scrolled-down::after {
    width: 0;
    height: 0;

    box-shadow: none;
}

.call-to-action {
    transition: opacity 500ms ease-in-out, translate 500ms ease-in-out;
}


/* Esconde chamada para o cadastro */
.scrolled-down .call-to-action {
    opacity: 0;
    pointer-events: none;
    user-select: none;

    translate: 0 -20vh;
}


/* Define rolamento snap */
@media screen and (min-width: 992px) {
    body {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    
    html {
        overflow: hidden
    }
    
    main  {
        display: contents;
    }
    
    main  > * {
        scroll-snap-align: start;
    
    }
    
    footer {
        scroll-snap-align: start;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

header {
    background-image: linear-gradient(to bottom, rgb(var(--bs-dark-rgb)) 65%, rgba(var(--bs-dark-rgb), .5) 85%, transparent 97%);
}

/* Redefine classe de font-size do bootstrap para considerar a herança de font-size */
.fs-1 {
    font-size: 2.5em !important;
}

.fs-2 {
    font-size: 2em !important;
}

.fs-3 {
    font-size: 1.75em !important;
}

.fs-4 {
    font-size: 1.5em !important;
}

.fs-5 {
    font-size: 1.25em !important;
}

.fs-6 {
    font-size: 1em !important;
}

.text-success {
    color: aquamarine !important;
}

.nav-item, .nav-link {
    position: relative;
    transition: padding 400ms 100ms ease-in-out;
}

.nav-item::after, .nav-link::after {
    transition: background-color 250ms ease-in-out, box-shadow 500ms ease-in-out;
    content: '';
    height: .1rem;
    width: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
}

.nav-item:has(>.nav-link.active)::after {
    background-color: aquamarine;
    box-shadow: 0 0 2rem 0 aquamarine;
}

.nav-item:has(>.nav-link:hover) {
    padding-inline: 0 !important;
}

.nav-link:hover {
    padding-inline: 1.5rem !important;
}

.nav-link:hover::after {
    background-color: aquamarine;
    box-shadow: 0 0 2rem 0 aquamarine;
}

.btn {
    --bs-btn-border-radius: 0;
    border: none;

    transition: unset;
    transition: box-shadow 250ms ease-in-out, translate 250ms ease-in-out;

    box-shadow: 
        -.2rem .2rem 0 0 aquamarine,
        inset 0 0 0 0 aquamarine;
}

.btn-outline-success {
    color: aquamarine;
}

.btn-outline-success:hover {
    color: aquamarine;

    background: transparent;

    box-shadow: 
        0 0 0 0 aquamarine,
        inset .1rem -.1rem 0 0 aquamarine;

    translate: -.2rem .2rem;
}

.btn-outline-success:active {
    background-color: transparent !important;
    color: aquamarine !important;
    border: none !important;

    box-shadow: 
        .05rem -.05rem 0 0 aquamarine,
        inset -.05rem .05rem 0 0 aquamarine,
        -.1rem .1rem 0 0 aquamarine,
        inset .1rem -.1rem 0 0 aquamarine;
}

.form-control {
    background-color: transparent !important;
    border-radius: .25rem;
}

.form-control.is-valid {
    border-color: aquamarine;
}

.form-control.is-valid:focus {
    border-color: aquamarine;
    box-shadow: 0 0 0 0.25rem rgb(127 255 212 / 25%);
}

.form-label:has(~ .is-valid) {
    color: aquamarine;
}

.form-label:has(~ .is-invalid) {
    color: var(--bs-red);
}

.invalid-feedback {
    display: block;
}

.form-control ~ .invalid-feedback {
    color: var(--bs-gray);
}

.form-control.is-valid ~ .invalid-feedback {
    color: aquamarine;
}

.form-control.is-invalid ~ .invalid-feedback {
    color: var(--bs-red);
}

#timer {
    font-size: 4em;
    line-height: 1em;
}